@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --accent-color: hsl(94, 91%, 57%);
  --bg-color: hsl(0, 0%, 5%) 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

.glass {
  background: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.hide {
  display: none !important;
}

body {
  background-color: hsl(0, 0%, 5%);
}

nav a.active {
  color: var(--accent-color);
  font-weight: bolder;
}

.dark-circle {
  animation: dar 5s linear infinite;
}

.ash-circle {
  animation: ash 5s linear infinite;
}

.dark-circle-left {
  animation: dar-left 5s 2.5s linear infinite;
}

.ash-circle-left {
  animation: ash-left 5s 2.5s linear infinite;
}

@keyframes dar {
  25% {
    top: 50%;
    right: -15rem;
    rotate: 45deg;
  }
  50% {
    top: 75%;
    right: -10rem;
    rotate: 90deg;
  }
  75% {
    right: -5rem;
    rotate: 180deg;
  }
  100% {
    top: 25%;
    right: -10rem;
    rotate: 360deg;
  }
}

@keyframes ash {
  25% {
    top: 50%;
    right: -5rem;
    rotate: -45deg;
  }
  50% {
    top: 25%;
    right: -10rem;
    rotate: -90deg;
  }
  75% {
    right: -15rem;
    rotate: -180deg;
  }
  100% {
    top: 75%;
    rotate: -360deg;
  }
}

/* left side */
@keyframes dar-left {
  25% {
    top: 50%;
    left: -15rem;
    rotate: -45deg;
  }
  50% {
    top: 75%;
    left: -10rem;
    rotate: -90deg;
  }
  75% {
    left: -5rem;
    rotate: -180deg;
  }
  100% {
    top: 25%;
    left: -10rem;
    rotate: -360deg;
  }
}

@keyframes ash-left {
  25% {
    top: 50%;
    left: -5rem;
    rotate: 45deg;
  }
  50% {
    top: 25%;
    left: -10rem;
    rotate: 90deg;
  }
  75% {
    left: -15rem;
    rotate: 180deg;
  }
  100% {
    top: 75%;
    rotate: 360deg;
  }
}

::-webkit-scrollbar {
  width: 10px;
  box-shadow: inset 0 0 5px var(--accent-color);
  background-color: var(--bg-color);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 3px;
  border: 2px ridge var(--accent-color);
}

.see-more::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: var(--accent-color);
  position: absolute;
  bottom: -100%;
  background-color: transparent;
  z-index: -1;
  transition: all .7s;
}

.see-more:hover::before{
  bottom: 0;
}